.header{
    height: 80px;
    color: white;
    box-sizing: border-box;
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770); box-shadow: 0 10px 20px 0
    rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.inner-header{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button{
    background-color: Transparent;
    outline: none;
    border: none;
    height: 100%;
    width: 80px;
    color: white;
}

.inner-header-left{
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 25px;
}

.inner-header-left img{
    height: 35px;
    width: 35px;
}

.inner-header-right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 130px;
}

.inner-header-right div{
    font-size: 40px;
    height: 100%;
}

.inner-header-right a{
    font-size: 18px;
    text-decoration: none;
}




