.background{
    /* background-color: #F2F2F2; */
    background-color: lightblue;
}

.app{
    box-sizing: border-box;
    background-color: lightblue;
}

.center{
    border: solid black 1px;
    width: 700px;
    margin: auto;
    min-height: 100vh;
    background-color: lightgoldenrodyellow;
    /* margin-top: 20px; */
    /* margin-top: 10px; */
}