
.background{
    background-color: #F2F2F2;
}

.center{
    width: 700px;
    margin: auto;
    height: 100vh;
    background-color: #F2F2F2;
}

/* .app{
    box-sizing: border-box;
    background-color: lightblue;
} */


select{
    background-color: fff;

}