/* .app{
    height: 100%;
    position: fixed;
} */


.background{
    background-color: #F2F2F2;
    padding-top: 15px;
    height: 100%;
    /* position: fixed; */
}

.center{
    width: 750px;
    margin: auto;
    min-height: 100vh;
    background-color: #F2F2F2;
    /* position: fixed; */
}

/* .app{
    box-sizing: border-box;
    background-color: lightblue;
} */


select{
    background-color: fff;

}