.auth{
    background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-login{
    width: 350px;
    height: 270px;
    border-radius: 8px;
    background-image: linear-gradient(128deg, rgba(64, 61, 57, 0.1), rgba(255, 255, 255, 0.2));
    box-shadow: 0 14px 28px 0 rgba(0,0,0,0.25), 0 10px 10px 0 rgba(0,0,0, 0.26);
}

.auth-login-logo{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-login-logo img{
    height: 120px;
    width: 120px;
}

.auth-login-title{
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.auth-login-button{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-login-button button{
    background-color: #3F3D3A;
    height: 40px;
    width: 250px;
    border: none;
    
}
.auth-login-button a{
    color: white;
    font-size: 15px;    
    text-decoration: none;
}


