.dashboard{
    background-color: #F2F2F2;
}

.dashboard-top{
    display: flex;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.dashboard-top-left{
    background-color: white;
    width: 30%;
    margin-right: 15px;
    padding: 7px;
    display: flex;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.dashboard-top-left-name-button{
    display: flex;
    width: 150px;
    flex-direction: column;
    padding: 10px;
}

.dashboard-name{
    display: flex;
    flex-direction: column;
}

.dashboard-edit-button button{
    margin-top: 8px;
    background-color: #F5F3F2;
    width: 100px;
    height: 25px;
}

.dashboard-top-left-image img{
    height: 80px;
    width: 80px;
    border: 2px solid #FE9773;
}
                                               
.dashboard-top-right{
    background-color: white;
    width: 70%;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 10px;
}

.dashboard-bottom{
    height: 550px;
    margin-top: 15px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.dashboard-bottom-top{
    min-height: 100vh;
}

.dashboard-user{
    display: flex;
    flex-direction: row;
    width: 47%;
    height: 90px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 9px;
}

.dashboard-user-left{
    height: 100%;
    width: 100px;
}
.dashboard-user-left img{
    height: 100%;
    width: 100px;
}

.dashboard-user-center{
    height: 100%;
    width: 100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.dashboard-user-middle{
    height: 100%;
    width: 100px;
}

.dashboard-user-right{
    height: 100%;
    width: 100px;
    display: flex;
}

.dashboard-user-right .add-friend{
    display: flex;
    padding-left: 45px;
    align-items: center;
}

.dashboard-user-right .add-friend button{
    background-color: #FC8271;
    color: white;
    height: 30px;
    width: 90px;
}

.dashboard-recommended{
    display: flex;
    justify-content: space-between
}

.dashboard-right{
    display: flex;
    align-items: center;
}

.dashboard-no-recommendations{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-users{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
