.search{
    background-color: #F2F2F2;
    box-shadow: 1px 1px 1px 1px #ccc;


}



.search-top{
    margin-top: 15px;
    height: 80px;
    background-color: white;
    /* border: solid black 1px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-right: 20px; */
    /* box-shadow: 1px 1px 1px 1px #ccc; */
}

.search-top div{
    margin-left: 10px;
}
.search-bottom{
    background-color: white;
    height: 500px;
    /* box-shadow: 1px 1px 1px 1px #ccc; */
    /* border: solid black 1px; */
}

.search-user{
    display: flex;
    flex-direction: row;
    /* border: solid green 1px; */
    width: 50%;
    height: 90px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 9px;
    background-color: white;
}

.search-user-left{
    /* border: solid red 1px; */
    /* border: solid black 1px; */
    height: 100%;
    width: 100px;
}
.search-user-left img{
    /* border: solid black 2px; */
    height: 100%;
    width: 100px;
}

.search-user-center{
    /* border: solid green 2px; */
    height: 100%;
    width: 100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/* .search-user-middle{
    border: solid black 1px;
    height: 100%;
    width: 100px;
} */

.search-user-right{
    /* border: solid pink 2px; */
    height: 100%;
    width: 100px;
    display: flex;
}

.search-user-right .add-friend{
    display: flex;
    padding-left: 45px;
    align-items: center;
}

.search-user-right .add-friend button{
    background-color: #FC8271;
    color: white;
    height: 30px;
    width: 100px;
}

.search-user-right .remove-friend{
    display: flex;
    padding-left: 45px;
    align-items: center;
}

.search-user-right .remove-friend button{
    background-color: #4E4C4A;
    color: white;
    height: 30px;
    width: 100px;
}

.search-recommended{
    /* border: solid pink 3px; */
    display: flex;
    justify-content: space-between
}