.search{
    background-color: #F2F2F2;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.search-top{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
}

.search-top div{
    margin-left: 10px;
}

.search-bottom{
    background-color: white;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.search-user{
    display: flex;
    flex-direction: row;
    width: 47%;
    height: 90px;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 9px;
    background-color: white;
}

.search-user-left{
    height: 100%;
    width: 100px;
}
.search-user-left img{
    height: 100%;
    width: 100px;
}

.search-user-center{
    height: 100%;
    width: 100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.search-user-right{
    height: 100%;
    width: 100px;
    display: flex;
}

.search-user-right .add-friend{
    display: flex;
    padding-left: 45px;
    align-items: center;
}

.search-user-right .add-friend button{
    background-color: #FC8271;
    color: white;
    height: 30px;
    width: 100px;
}

.search-user-right .remove-friend{
    display: flex;
    padding-left: 45px;
    align-items: center;
}

.search-user-right .remove-friend button{
    background-color: #4E4C4A;
    color: white;
    height: 30px;
    width: 100px;
}

.search-recommended{
    display: flex;
    justify-content: space-between
}

.pagination{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.inner-pagination{
    height: 50px;
    width: 80%;
    background-color: #FD8E72;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-pages{
    height: 65%;
    width: 60%;
    display: flex;
    justify-content: center;
}

.page-one{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-one button{
    background-color: black;
    height: 100%;
    width: 80px;
    border-radius: 3px;
    color: white;
    border: none;
    margin: 0 3px;
}

.pages{
    display: flex;
}

.page{
    height: 100%;
}

.page button{
    height: 100%;
    width: 25px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 3px;
    margin: 0 3px;
}



