.profile{
    background-color: #F2F2F2;
}

.profile-top{
    height: 110px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px #ccc;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    box-sizing: border-box;
}

.profile-bottom{
    background-color: white;
    height: 300px;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.profile-top-left{
    width: 30%;
    display: flex;
}

.profile-top-image img{
    height: 90px;
    width: 90px;
    border: 2px solid #FE9773;
}

.profile-top-name{
  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100px;
    padding-left: 6px;
}

.profile-top-right{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-update button{
    background-color: #4D4C4A;
    color: white;
    width: 85px;
    height: 25px;
}
.profile-cancel button{
    background-color: #F4EFEF;
    color: black;
    width: 85px;
    height: 25px;
}

.profile-inner-bottom{
    width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
}

.profile-inner-bottom div{
    margin-top: 8px;
    margin-bottom: 6px;
}

.profile-inner-bottom-left{
    width: 50%;
}

.profile-inner-bottom-left input{
    height: 20px;
    width: 50%;
    border: solid 1px #FFD2C3;
}


.profile-inner-bottom-right{
    width: 50%;
}